.box {
    width: 100%;
    height: auto;
    min-height: 410px;
    margin-bottom: 10px;
    background-color: #fff;
}

.title {
    padding: 22px;
}

.title h1 {
    font-size: 35px;
    color: #000;
}

.title p {
    font-size: 20px;
    font-weight: bold;
    color: #525252;
}

.title span {
    color: #626262;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.title em {
    color: #626262;
    font-size: 12px;
}

.title span {
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 50px;
    position: relative;
}

.title em {
    position: relative;
    margin-top: 60px;
}

.imageauthor {
    width: 41px;
    height: 41px;
    display: block;
    background-color: #4AB306;
    border: 1px #4AB306 solid;
    border-radius: 50%;
}

.title img {
    border-radius: 50%;
}

.news {
    margin-top: 20px;
    padding: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}